<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Memaksa HTTP menjadi HTTPS (Gembok hijau)
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
</IfModule>

# Melindungi file sensitif agar tidak bisa di-download orang luar
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>
<FilesMatch "(?i)(^composer\.json|^composer\.lock|^package\.json|^package-lock\.json|^README\.md)">
    Order allow,deny
    Deny from all
</FilesMatch>
